VITE_BASE=./

# Тестовый режим: 1 — использовать одноразовую in-memory БД вместо Firestore
# (данные сбрасываются при перезагрузке страницы, Firebase не используется)
VITE_CODEJUDGE_TESTMODE=0

# Лимит времени по умолчанию (ms)
VITE_DEFAULT_TIME_LIMIT=5000

# Лимит памяти по умолчанию (MB)
VITE_DEFAULT_MEMORY_LIMIT=256
